/* font layer */
.body{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* nav style */
.nav {display:flex;
align-items: center;
justify-content: space-between;}
.banner-container{
  width: 1440px;
  border: 2px none;
  min-height: 452px;
  background-image: url('../assets/Hero-bg.png');
  background-size: cover;
}
.banner{display: flex;
flex-direction: column;
justify-content:center;
height: 652px;
align-items: center;}
.nav-title{
  margin-left: 70px;
}
.nav-btn{margin-right: 70px;}
#banner-btn{background-color: rgb(13, 19, 33);
size: 150px;font-weight: bold;
font-size: 20px;
color: white;
border: none;
width: 208px;
height: 66px;}
/* main styles */
.main-section{border: 2px solid none;
  align-items: center;
margin-left: 105px;
margin-top: 105px;}
.section{display: flex;
align-items: center;
justify-content: space-between;}
.main-section{ width: 900px;
height: 942px;}
.web{font-size: medium;
align-items: center;}
.youtube{margin-right: 100px;
padding: 150px 150px;text-align: center;}
.main-section{border: 0;
  padding: 150px 150px;text-align: center;
background-color: rgba(13, 19, 33, 0.02);}

/* My Current Target */
.target{display: flex;}
.skill-html{background-color:rgba(255, 76, 30, 0.05);
  border: 2px none ;margin-right:30PX;}
.my{margin-right: 100px;
  padding:0px;text-align: center;}
  .skill-css{padding: 30px;background-color: rgba(0, 76, 232, 0.05);
    border: 2px solid none;}
  .skill-js{padding: 30px ;background-color: rgba(255, 223, 0, 0.05);
  border: 2px none;
margin-left: 30px;}
.form{background-image: url('../assets/handshake.jpg');
width: 1420px;
margin: 0 auto;
border: 2px solid;
margin-top: 50px;
min-height: 800px;}
#form{display: flex;
align-items: start;
flex-direction: column;
justify-content:center;
height: 555px;color: aliceblue;}
.fo{margin-left: 60px;}
.btn{margin-left: 250px;
margin-top: 40px;
border-color: red;}
